.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  line-height: 1.5;
  overflow: hidden;

  .parallax-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;

    .image-box {
      //如果不设置子元素会自动缩小，设置为0表示子元素不缩小
      flex-shrink: 0;
      height: 110%;
      width: 110%;

      .image {
        width: 100%;
        height: 100%;
        background: url("../../public/images/test-img.png") no-repeat center/cover;
      }
    }
  }

  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;

    @media screen and (max-width: 780px) {
      opacity: 0.3;
    }
  }

  .mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    @media screen and (max-width: 780px) {
      display: none;
    }

    .polygon {
      fill: rgb(176, 14, 37);

      @media screen and (max-width: 900px) {
        transform: translateX(-10%);
      }
    }
  }

  .post0 {
    position: absolute;
    top: 42%;
    left: 10%;
    width: 28%;

    @media screen and (max-width: 900px) {
      width: 40%;
    }

    @media screen and (max-width: 780px) {
      width: 70%;
      bottom: 60px;
      top: auto;
      left: 5%;
    }

    .date {
      color: #fff;
      font-size: 12px;
    }

    .title {
      font-size: 28px;
      margin-top: 15px;
      color: #fff;
      cursor: pointer;
    }

    .preview {
      color: #fff;
      font-size: 14px;
      margin-top: 30px;
    }
  }

  .navbar {
    position: absolute;
    display: flex;
    top: 70px;
    padding: 0 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 780px) {
      top: 40px;
    }

    .logo {
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      cursor: pointer;
      z-index: 3;
      transition: color 0.3s;
      user-select: none;

      &.ms {
        color: #333;
      }
    }

    .menu-show {
      font-size: 20px;
      padding: 0 5px;
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      color: rgb(234, 44, 70);
      border-radius: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.9);
      z-index: 3;
    }
  }
}
