.post {
  position: relative;
  background-color: #fff;
  overflow-x: hidden;

  .top-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #f7f7f7;
    background: #fefefe;
    z-index: 2;

    .icon-box {
      display: flex;

      .icon {
        width: 24px;
        height: 37px;
        color: #333;
        font-size: 24px;
        margin: 0 10px;
        cursor: pointer;
      }
    }

    .subtitle {
      max-width: calc(100% - (24px * 4));
      color: #666;
      font-size: 14px;
      margin-top: 16px;
    }

    .music-progress {
      position: absolute;
      height: 100%;
      width: 30px;
      background-color: rgba(0, 0, 0, 0.07);
      z-index: -1;
      transition: width 0.5s ease;
    }

    .view-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: #50bcb6;
      transition: width 0.5s ease;
    }
  }

  .article {
    width: 700px;
    padding: 50px 0;
    margin: 0 auto;

    .title {
      font-size: 30px;
      color: #333;
      line-height: 1.3;
      font-weight: bold;
    }

    .stuff {
      color: #666;
      font-size: 13px;

      .stuff-item {
        margin-right: 20px;
      }
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      padding: 0;
      margin-top: 10px;

      .tag-item {
        margin-right: 10px;
        background: rgba(102, 128, 153, 0.075);
        border-radius: 6px;
        padding: 2px 5px;
      }
    }

    .content {
      font-size: 14px;
      line-height: 2;
      color: #333;

      &::before {
        content: '';
        height: 1px;
        width: 100px;
        background: #eee;
        display: block;
        margin: 30px auto 40px;
      }
    }
  }
}
