
.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 7%);
  transition: all ease 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
