
.bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: var(--background-color);
  background-color: var(--font-color);
  border-radius: 4px;
  box-shadow: 0 0 10px rgb(0 0 0 / 7%);
  transition: all ease 0.3s;

  &:hover {
    background-color: rgba(var(--theme-color-rgb), 0.8);
  }
}
