.post-card {
  position: relative;
  width: 1200px;
  margin: 100px auto 0;
  overflow: hidden;

  &:nth-child(odd) {
    text-align: left;
  }

  &:nth-child(even) {
    text-align: right;
  }

  @media screen and (max-width: 1200px) {
    width: 900px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    margin-top: 60px;
    background: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
  }

  .cover {
    position: relative;
    max-width: 680px;
    max-height: 440px;
    width: 680px;
    height: 440px;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
      width: 480px;
      height: 310px;
    }

    @media screen and (max-width: 900px) {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }
  }

  .info {
    position: absolute;
    background: #fff;
    width: 498px;
    height: 398px;
    text-align: left;
    top: 20px;
    border: 1px solid #eaeaea;

    @media screen and (max-width: 1200px) {
      top: 10px;
      width: 420px;
      height: 290px;
    }

    @media screen and (max-width: 900px) {
      position: static;
      display: block;
      margin: 0 auto;
      max-width: 680px;
      width: auto;
      height: auto;
      background: transparent;
      border: none;
    }

    .date {
      color: #999;
      font-size: 12px;
      margin: 80px 0 0 80px;

      @media screen and (max-width: 1200px) {
        margin: 50px 0 0 60px;
      }

      @media screen and (max-width: 900px) {
        margin: 30px 0 0 20px;
      }
    }

    .title {
      font-size: 30px;
      line-height: 1.1;
      margin: 10px 100px 0 80px;
      cursor: pointer;

      @media screen and (max-width: 1200px) {
        font-size: 24px;
        margin: 10px 60px 0 60px;
      }

      @media screen and (max-width: 900px) {
        margin: 10px 30px 0 20px;
      }
    }

    .preview {
      font-size: 14px;
      color: #555;
      line-height: 1.8;
      margin: 10px 100px 0 80px;

      @media screen and (max-width: 1200px) {
        margin: 10px 60px 0 60px;
      }

      @media screen and (max-width: 900px) {
        margin: 10px 30px 0 20px;
      }
    }

    .info-bar {
      position: absolute;
      left: 80px;
      bottom: 20px;
      color: #999;
      font-size: 14px;

      @media screen and (max-width: 1200px) {
        left: 60px;
        bottom: 15px;
      }

      @media screen and (max-width: 900px) {
        position: static;
        margin: 20px 0 20px 20px;
      }
    }

    .icon {
      vertical-align: middle;
      margin: 5px;
      cursor: default;

      >span {
        margin-right: 5px;
      }
    }
  }

  &:nth-child(odd) .info {
    left: 660px;

    @media screen and (max-width: 1200px) {
      left: 450px;
    }
  }

  &:nth-child(even) .info {
    right: 660px;

    @media screen and (max-width: 1200px) {
      right: 450px;
    }
  }
}
