@import "../../styles/variables.scss";

.back-bar {
  position: fixed;
  top: 0;
  align-items: center;
  height: $post-top-bar-height;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  background: #fefefe;
  z-index: 2;

  .icon {
    width: 20px;
    height: $post-top-bar-height;
    color: #333;
    font-size: 20px;
    line-height: $post-top-bar-height;
    margin: 0 10px;
    cursor: pointer;
    float: left;
  }
}
