@import "../../styles/variables.scss";

.post-wrapper {
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;

  .top-bar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $post-top-bar-height;
    width: 100%;
    text-align: center;
    border-bottom: var(--default-border);
    background: var(--background-color);
    z-index: 2;

    .icon-box {
      display: flex;

      .icon {
        width: 20px;
        height: 20px;
        color: var(--font-color-second);
        font-size: 20px;
        line-height: 20px;
        background-color: transparent;
        margin: 0 10px;
        cursor: pointer;
      }
    }

    .subtitle {
      max-width: calc(100% - (50px * 5));
      color: var(--font-color-second);
      font-size: 14px;
      margin: 0;
      padding: 0;
      transition: all 0.5s ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .hidden {
      opacity: 0;
    }

    .music-progress {
      position: absolute;
      height: 100%;
      width: 0;
      background-color: var(--background-hover-color);
      z-index: -1;
      transition: width 0.5s ease;
    }

    .view-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--theme-color);
      transition: width 0.5s ease;
    }
  }

  .title-menu {
    position: fixed;
    top: $post-top-bar-height;
    right: -200px;
    height: calc(100vh - #{$post-top-bar-height});
    width: 200px;
    background-color: var(--background-color);
    opacity: 0;
    border-left: var(--default-border);
    padding: 8px;
    padding-left: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .title-menu-show {
    right: 0;
    opacity: 1;
  }

  .post {
    max-width: 700px;
    min-height: calc(100vh - #{$footer-height} - #{$post-top-bar-height});
    margin: 50px auto 0;
    padding: 0 10px;

    .article {
      width: 100%;
      padding: 50px 0 10px;

      @media screen and (max-width: 780px) {
        padding: 30px 0;
      }

      .title {
        font-size: 30px;
        color: var(--font-color);
        line-height: 1.3;
        font-weight: bold;

        @media screen and (max-width: 780px) {
          font-size: 24px;
        }
      }

      .stuff {
        display: flex;
        flex-wrap: wrap;
        color: var(--font-color-second);
        font-size: 13px;

        .stuff-item {
          margin-right: 10px;
        }
      }

      .category-bar {
        color: var(--font-color-second);
        margin-top: 10px;
        .category {
          background: var(--background-color-second);
          color: var(--font-color-second);
          border-radius: 15px;
          padding: 4px 12px;
          cursor: pointer;

          &:hover {
            color: var(--theme-color);
          }
        }
      }

      .content {
        min-height: 220px;
        font-size: 14px;
        line-height: 2;
        color: var(--font-color);
        overflow-x: hidden;

        &::before {
          content: '';
          height: 1px;
          width: 100px;
          background: var(--border-color);
          display: block;
          margin: 10px auto;
        }
      }
    }

    .tag-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 20px 0;

      .tag-item {
        font-size: 14px;
        color: var(--font-color-second);
        padding: 2px 5px;
        margin-right: 10px;
        border-bottom: var(--default-border);
        cursor: pointer;

        &:hover {
          color: var(--theme-color);
          border-bottom: 1px solid var(--theme-color);
        }
      }
    }
  }
}
