@import "../../styles/variables.scss";

.container {
  width: 100%;
  .main {
    max-width: 700px;
    margin: 0 auto;
    color: var(--font-color);
    min-height: calc(100vh - #{$footer-height});
    padding-top: $post-top-bar-height;
  }
}
